<!--
    export class User {
    constructor(public firstaname:string,
        public lastname:string,
        public email:string,
        public dateBirth:Date,
        public Address:Address,
     ) {   
       
      //
        public street:string,
        public city:string,
        public state:string,
        public zip:number,
    }
}
-->
<div class="row">
    <div class="p-5 mx-auto">
        <div class="card border-secondary">
            <div class="card-header">            
              <h4 class="text-primary">Ajouter un utilisateur</h4>
            </div>
            <div class="card-body">                           
              <form [formGroup]="userform" (ngSubmit)="onSubmit()">
                  <div class="row">
                      <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label">Nom</label>
                            <input type="text" class="form-control" formControlName="firstname"/>               
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Prenom</label>
                            <input type="text" class="form-control" formControlName="lastname" />               
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name=""  formControlName="email"/>             
                          </div>                          
                          <div class="mb-3">
                            <label class="form-label">Date de naissance</label>
                            <input type="date" class="form-control" formControlName="datebirth" />  
                          </div>                                 
                      </div>
                      <div class="col-6" formGroupName="address">
                        <h4>Adresse</h4>

                        <div class="mb-3">
                        <label class="form-label">Rue</label>
                        <input type="text" class="form-control" formControlName="street"/>               
                    </div>
                      <div class="mb-3">
                        <label class="form-label">Ville</label>
                        <input type="text" class="form-control" formControlName="city"/>               
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Pays</label>
                      <input type="text" class="form-control" formControlName="state"/>               
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Code Postal</label>
                    <input type="number" class="form-control" formControlName="zip"/>               
                </div>
                      </div>  
                    </div> 
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-success me-2" >Submit</button>
                        <a href="#" class="btn btn-primary"  >Retour</a>
                    </div>                   
                </form>          
            </div>
        </div>
    </div>   
</div>
