
<div class="col-8 p-5 mx-auto">
    <div class="card border-secondary">
        <div class="card-header">            
          <h5 class="text-secondary">Ajouter une taches</h5>
        </div>
        <div class="card-body">           
          <form #addTodoForm="ngForm">
              <div class="mb-3">
                <label class="form-label">Nom de la taches</label>
                <input type="text" class="form-control" name="todoName" [(ngModel)]="todo.todoName" required/>               
              </div>
              <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea type="text" class="form-control" name="description" [(ngModel)]="todo.description" required></textarea>              
              </div>
              <div class="mb-3">
                <label class="form-label">Url image</label>
                <input type="text" class="form-control" name="image" [(ngModel)]="todo.image"/>               
              </div>
              <div class="input-group mb-3">
                <label class="input-group-text" >Etat de la tache</label>
                <select class="form-select" name="todoStatus" [(ngModel)]="todo.todoStatus" required>
                  <option selected>Choisir</option>
                  <option class="text-success" value="true">En cours</option>
                  <option class="text-danger" value="false">Terminée</option>                  
                </select>
              </div>           
              <button type="submit" class="btn btn-success me-2" [disabled]="!addTodoForm.valid" (click)="onSubmit()">Submit</button>
              <a href="#" class="btn btn-primary">Retour</a>
            </form>          
        </div>
    </div>
</div>
