body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-image: url(.././../assets/img/estee-janssens-aQfhbxailCs-unsplash.jpg);
}